.loginButton {
    width: 100% !important;
    color: #C36192 !important;
}

.loginButton:hover {
    background: linear-gradient(45deg, #B55586, #EF652C) !important;
    color: white !important;
}

.toastStyle[data-state="open"] {
    animation: toastSlideDown 180ms ease-out;
}

.toastStyle[data-state="closed"] {
    animation: toastFadeOut 180ms ease-in;
}

.chatDataBox {
    background: linear-gradient(45deg, rgba(181, 85, 134, 0.5), rgba(239, 101, 44, 0.5));
    height: 50px;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    padding: 10px;
}

.chatCards {
    display: flex !important;
    flex-direction: column !important;
    align-content: space-between !important;
}

.chatPage {
    padding: 20px;
}

.chatComponent {
    margin-left: 10px;
}

#hamburgerMenuIcon {
    display: none;
}

@keyframes toastSlideDown {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes toastFadeOut {
    from {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    to {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }
}

@media only screen and (max-width: 650px) {
  .chatPage {
    padding: 0px;
  }

  .chatComponent {
    margin-left: 0px;
  }

  #sidebar {
    display: none !important;
  }

  #hamburgerMenuIcon {
    display: flex;
  }
}